
    :root {
        --spacing-control-bgcolor: #f3f3f3;
    }

	 .SuiteGrid{
		display: grid;
		grid-template-columns: 6em 6em 6em;
		grid-template-rows: 6em 6em 6em;
		border: 1px solid red;
		box-sizing: border-box;
		list-style: none;
	}
	.SuiteGrid > li{
		border: 1px solid blue;
		box-sizing: border-box;
		list-style: none;
	}

	/* Mode 2x2 Top Left */
	.mode_2x2_TL > .child_1 {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 3;
	}
	.mode_2x2_TL > .child_2,
	.mode_2x2_TL > .child_4,
	.mode_2x2_TL > .child_5{	display: none;	}

	/* Mode 2x2 Top Middle */
	.mode_2x2_TM > .child_2 {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 3;
	}
	.mode_2x2_TM > .child_3,
	.mode_2x2_TM > .child_5,
	.mode_2x2_TM > .child_6{	display: none;	}

	/* Mode 2x2 Middle Left */
	.mode_2x2_ML > .child_4 {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 4;
	}
	.mode_2x2_ML > .child_5,
	.mode_2x2_ML > .child_7,
	.mode_2x2_ML > .child_8{	display: none;	}

	/* Mode 2x2 Middle Middle */
	.mode_2x2_MM > .child_5 {
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 4;
	}
	.mode_2x2_MM > .child_6,
	.mode_2x2_MM > .child_8,
	.mode_2x2_MM > .child_9{	display: none;	}

	/* Mode 2x1 Top Left */
	.mode_2x1_TL > .child_1 {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.mode_2x1_TL > .child_2{	display: none;	}

	/* Mode 2x1 Top middle */
	.mode_2x1_TM > .child_2 {
		grid-column-start: 2;
		grid-column-end: 4;
	}
	.mode_2x1_TM > .child_3{	display: none;	}

	/* Mode 2x1 Middle Left */
	.mode_2x1_ML > .child_4 {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.mode_2x1_ML > .child_5{	display: none;	}

	/* Mode 2x1 Middle Middle */
	.mode_2x1_MM > .child_5 {
		grid-column-start: 2;
		grid-column-end: 4;
	}
	.mode_2x1_MM > .child_6{	display: none;	}

	/* Mode 2x1 Bottom Left */
	.mode_2x1_BL > .child_7 {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.mode_2x1_BL > .child_8{	display: none;	}

	/* Mode 2x1 Bottom Middle */
	.mode_2x1_BM > .child_8 {
		grid-column-start: 2;
		grid-column-end: 4;
	}
	.mode_2x1_BM > .child_9{	display: none;	}

	/* Mode 1x2 top Left */
	.mode_1x2_TL > .child_1 {
		grid-row-start: 1;
		grid-row-end: 3;
	}
	.mode_1x2_TL > .child_4{	display: none;	}

	/* Mode 1x2 top middle */
	.mode_1x2_TM > .child_2 {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 3;
	}
	.mode_1x2_TM > .child_5{	display: none;	}

	/* Mode 1x2 top right */
	.mode_1x2_TR > .child_3 {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 3;
	}
	.mode_1x2_TR > .child_6{	display: none;	}

	/* Mode 1x2 middle Left */
	.mode_1x2_ML > .child_4 {
		grid-row-start: 2;
		grid-row-end: 4;
	}
	.mode_1x2_ML > .child_7{	display: none;	}

	/* Mode 1x2 middle middle */
	.mode_1x2_MM > .child_2 {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 4;
	}
	.mode_1x2_MM > .child_5{	display: none;	}

	/* Mode 1x2 middle right */
	.mode_1x2_MR > .child_3 {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 4;
	}
	.mode_1x2_MR > .child_6{	display: none;	}

	/* Mode 3x1 top Left */
	.mode_3x1_TL > .child_1 {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.mode_3x1_TL > .child_2,
	.mode_3x1_TL > .child_3{	display: none;	}

	/* Mode 3x1 middle Left */
	.mode_3x1_ML > .child_4 {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.mode_3x1_ML > .child_5,
	.mode_3x1_ML > .child_6{	display: none;	}

	/* Mode 3x1 bottom Left */
	.mode_3x1_BL > .child_7 {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.mode_3x1_BL > .child_8,
	.mode_3x1_BL > .child_9{	display: none;	}

	/* Mode 1x3 top Left */
	.mode_1x3_TL > .child_1 {
		grid-row-start: 1;
		grid-row-end: 4;
	}
	.mode_1x3_TL > .child_4,
	.mode_1x3_TL > .child_7{	display: none;	}

	/* Mode 1x3 top middle */
	.mode_1x3_TM > .child_2 {
		grid-row-start: 1;
		grid-row-end: 4;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	.mode_1x3_TM > .child_5,
	.mode_1x3_TM > .child_8{	display: none;	}

	/* Mode 1x3 top right */
	.mode_1x3_TR > .child_3 {
		grid-row-start: 1;
		grid-row-end: 4;
		grid-column-start: 3;
		grid-column-end: 4;
	}
	.mode_1x3_TR > .child_6,
	.mode_1x3_TR > .child_9{	display: none;	}

	/* Mode 3x2 top Left */
	.mode_3x2_TL > .child_1 {
		grid-row-start: 1;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.mode_3x2_TL > .child_2,
	.mode_3x2_TL > .child_3,
	.mode_3x2_TL > .child_4,
	.mode_3x2_TL > .child_5,
	.mode_3x2_TL > .child_6{	display: none;	}

	/* Mode 3x2 Middle Left */
	.mode_3x2_ML > .child_4 {
		grid-row-start: 2;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.mode_3x2_ML > .child_5,
	.mode_3x2_ML > .child_6,
	.mode_3x2_ML > .child_7,
	.mode_3x2_ML > .child_8,
	.mode_3x2_ML > .child_9{	display: none;	}

	/* Mode 2x3 Top Left */
	.mode_2x3_TL > .child_1 {
		grid-row-start: 1;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.mode_2x3_TL > .child_2,
	.mode_2x3_TL > .child_4,
	.mode_2x3_TL > .child_5,
	.mode_2x3_TL > .child_7,
	.mode_2x3_TL > .child_8{	display: none;	}

	/* Mode 2x3 Top Middle */
	.mode_2x3_TM > .child_2 {
		grid-row-start: 1;
		grid-row-end: 4;
		grid-column-start: 2;
		grid-column-end: 4;
	}
	.mode_2x3_TM > .child_3,
	.mode_2x3_TM > .child_5,
	.mode_2x3_TM > .child_6,
	.mode_2x3_TM > .child_8,
	.mode_2x3_TM > .child_9{	display: none;	}
