#####################
### HTTPS SECTION ###
#####################

server {

	##### Static Directory/Subdomain #####
	######################################

	listen       *:443;
	server_name  static.[@ project @].my.home;
	root /srv/my.home/static;

	#ssl    on;
    ssl_certificate /srv/certs/[@ project @].my.home/fullchain.pem;
    ssl_certificate_key /srv/certs/[@ project @].my.home/privkey.pem;

	location /	{
		add_header Access-Control-Allow-Origin "$http_origin";
	}
	index index.html;

}

server {

	##### Web Service Directory/Subdomain #####
	###########################################

	listen	   *:443;
	server_name  service.[@ project @].my.home;
	client_max_body_size 40M;

	#ssl	on;
    ssl_certificate /srv/certs/[@ project @].my.home/fullchain.pem;
    ssl_certificate_key /srv/certs/[@ project @].my.home/privkey.pem;

	index service.php;
	root /srv/my.home/service/;

	if ($request_method = OPTIONS) { return 204; }

	location /
	{
		include		fastcgi_params;
		fastcgi_intercept_errors on;
		fastcgi_index  service.php;
		fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
		fastcgi_param  SCRIPT_NAME  $document_root$fastcgi_script_name;
		fastcgi_pass   unix:/var/run/php-fpm/my.home.sock;
	}
}

server {

	##### Primary Site Roots #####
	##############################

	listen	   *:443;
	server_name  [@ project @].my.home www.[@ project @].my.home;
	root /srv/my.home;

	#ssl	on;
    ssl_certificate /srv/certs/[@ project @].my.home/fullchain.pem;
    ssl_certificate_key /srv/certs/[@ project @].my.home/privkey.pem;

	location / {
		include /etc/nginx/fastcgi_params;
		fastcgi_intercept_errors on;
		fastcgi_param	ORIGIN_DOMAIN  "[@ project @].my.home";
		fastcgi_param	SCRIPT_NAME  $document_root$fastcgi_script_name;
		fastcgi_param	SCRIPT_FILENAME /srv/my.home/map.php;
		fastcgi_pass	unix:/var/run/php-fpm/my.home.sock;
	}

	location /__static
	{
		alias /srv/my.home/static;
	}
	location /__service
	{
		root /srv/my.home/service;
		include		fastcgi_params;
		fastcgi_intercept_errors on;
		fastcgi_index  service.php;
		fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
		fastcgi_param  SCRIPT_NAME  $document_root$fastcgi_script_name;
		fastcgi_pass   unix:/var/run/php-fpm/my.home.sock;
	}
}
